
<main>
  <div id="edit-modal" class="modal">
    <div class="modal-box rq" >
      <form action="/review/edit" method="POST" id="edit-form"></form>
      <p>이름</p>
    <input type="text" name="name" id="edit-name">
    <p>평점</p>
    <input type="text" id="edit-rating">
    <p>내용</p>
    <textarea name="text" id="edit-text"></textarea>
    <button id="edit-btn" type="submit">수정하기</button>
    <span class="close-button1 close" id="close-btn1">&times;</span>
  </div>
  </div>
  <div id="myModal" class="modal">
    <!-- 모달 컨텐츠 -->
    <div class="modal-box">
      <div class="modal-image"></div>
      <div class="modal-content"></div>
      </div>
      <div class="modal-box2"><div class="middle">
        <div class="choose-rating">
          <p>별점을 선택해주세요</p>
          <div class="rating">
            <span class="rating__result"></span> 
            <i class="rating__star far fa-star"></i>
            <i class="rating__star far fa-star"></i>
            <i class="rating__star far fa-star"></i>
            <i class="rating__star far fa-star"></i>
            <i class="rating__star far fa-star"></i>
        </div>
          <form class="input-box" action="/review" method="POST">
            <p>닉네임</p>
            <input type="text" id="nickname" name="name"></input>
            <p>비밀번호</p>
            <input type="password" id="password" name="password"></input>
            <p>리뷰 내용</p>
            <span name=></span>
            <textarea type="text" id="review-text" name="text"></textarea>
            <input type="hidden" id="starCountInput" name="rating">
            <button type="submit" id="access-btn">등록</button>
          </form>
        </div>
    </div>
    </div>
    <!-- 리뷰 박스 -->
    <div class="modal-box3">
      <!-- 기능개발 후 지울 것 -->
      <% for (let i = 0; i < review.length; i++)  {%>
      <div class="review-box">
        <p><%= review[i].name %></p>
        <p>평점 : <%= review[i].rating %></p>
        <p><%= review[i].text %></p>
        <button class="edit-review">수정</button>
        <button class="delete-review">삭제</button>
        <input class="edit-password" type="password" data-password="<%= review[i].password %>">
        <input class="id" type="hidden" data-id=<%= review[i]._id %>>
      </div>
      <% }%>
      
      <!-- 기능개발 후 지울 것 -->
    </div>
  </div>
  <div class="space"></div>

  <div class="final">
    <div id="center" class="center">
      <div class="slide">
        <div id="main1" class="main1">
          <div class="detail">
            <button id="exBtn1" class="exBtn">더 보기</button>
          </div>
        </div>

        <div id="more1" class="more1">
          <button id="close1" class="close">
            <i class="fa-solid fa-xmark"></i>
          </button>
          <div id="seemore1" class="seemore">
            <h1 id="title" class="title"></h1>
            <h2 id="original_title" class="original_title"></h2>
            <p id="release_date" class="release_date"></p>
            <p id="vote_average" class="vote_average"></p>
            <div id="overview" class="overview"></div>
          </div>
          <div id="poster_path" class="poster_path"></div>
        </div>
      </div>

      <div class="slide">
        <div id="main2" class="main2">
          <div class="detail">
            <button id="exBtn2" class="exBtn">더 보기</button>
          </div>
        </div>

        <div id="more2" class="more2">
          <button id="close2" class="close">
            <i class="fa-solid fa-xmark"></i>
          </button>
          <div class="seemore">
            <h1 id="title" class="title"></h1>
            <h2 id="original_title" class="original_title"></h2>
            <p id="release_date" class="release_date"></p>
            <p id="vote_average" class="vote_average"></p>
            <div id="overview" class="overview"></div>
          </div>
          <div id="poster_path" class="poster_path"></div>
        </div>
      </div>

      <div class="slide">
        <div id="main3" class="main3">
          <div class="detail">
            <button id="exBtn3" class="exBtn">더 보기</button>
          </div>
        </div>

        <div id="more3" class="more3">
          <button id="close3" class="close">
            <i class="fa-solid fa-xmark"></i>
          </button>
          <div class="seemore">
            <h1 id="title" class="title"></h1>
            <h2 id="original_title" class="original_title"></h2>
            <p id="release_date" class="release_date"></p>
            <p id="vote_average" class="vote_average"></p>
            <div id="overview" class="overview"></div>
          </div>
          <div id="poster_path" class="poster_path"></div>
        </div>
      </div>

      <div class="slide">
        <div id="main4" class="main4">
          <div class="detail">
            <button id="exBtn4" class="exBtn">더 보기</button>
          </div>
        </div>

        <div id="more4" class="more4">
          <button id="close4" class="close">
            <i class="fa-solid fa-xmark"></i>
          </button>
          <div class="seemore">
            <h1 id="title" class="title"></h1>
            <h2 id="original_title" class="original_title"></h2>
            <p id="release_date" class="release_date"></p>
            <p id="vote_average" class="vote_average"></p>
            <div id="overview" class="overview"></div>
          </div>
          <div id="poster_path" class="poster_path"></div>
        </div>
      </div>

      <div class="slide">
        <div id="main5" class="main5">
          <div class="detail">
            <button id="exBtn5" class="exBtn">더 보기</button>
          </div>
        </div>

        <div id="more5" class="more5">
          <button id="close5" class="close">
            <i class="fa-solid fa-xmark"></i>
          </button>
          <div class="seemore">
            <h1 id="title" class="title"></h1>
            <h2 id="original_title" class="original_title"></h2>
            <p id="release_date" class="release_date"></p>
            <p id="vote_average" class="vote_average"></p>
            <div id="overview" class="overview"></div>
          </div>
          <div id="poster_path" class="poster_path"></div>
        </div>
      </div>
    </div>

    <div class="mainbutton">
      <button id="mbtn1" class="mbtn1">
        <i class="fa-solid fa-circle fa-lg"></i>
      </button>
      <button id="mbtn2" class="mbtn2">
        <i class="fa-solid fa-circle fa-lg"></i>
      </button>
      <button id="mbtn3" class="mbtn3">
        <i class="fa-solid fa-circle fa-lg"></i>
      </button>
      <button id="mbtn4" class="mbtn4">
        <i class="fa-solid fa-circle fa-lg"></i>
      </button>
      <button id="mbtn5" class="mbtn5">
        <i class="fa-solid fa-circle fa-lg"></i>
      </button>
    </div>

    <div class="slidebutton">
      <button id="leftbtn" class="leftbtn">
        <i class="fa-solid fa-chevron-left fa-lg"></i>
      </button>
      <button id="rightbtn" class="rightbtn">
        <i class="fa-solid fa-chevron-right fa-lg"></i>
      </button>
    </div>
  </div>

  <div class="cardContainer">
    <h1 class="top">
      <i class="fa-solid fa-splotch fa-spin" style="color: #ffd43b"></i>
      <strong>실시간 인기 영화</strong>
    </h1>
    <div id="live1" class="live"></div>
    <div class="nextbutton">
      <button id="NLB1" class="NLB">
        <i class="fa-solid fa-chevron-left fa-lg"></i>
      </button>
      <button id="NRB1" class="NRB">
        <i class="fa-solid fa-chevron-right fa-lg"></i>
      </button>
    </div>
    <button id="movieadd1" class="searchadd">영화 더 보기</button>
  </div>

  <div class="cardContainer">
    <h1 class="top">
      <i class="fa-brands fa-kickstarter-k fa-beat" style="color: #bd0000"></i>
      <strong>인기 한국 영화</strong>
    </h1>
    <div id="live2" class="live"></div>
    <div class="nextbutton">
      <button id="NLB2" class="NLB">
        <i class="fa-solid fa-chevron-left fa-lg"></i>
      </button>
      <button id="NRB2" class="NRB">
        <i class="fa-solid fa-chevron-right fa-lg"></i>
      </button>
    </div>
    <button id="movieadd2" class="searchadd">영화 더 보기</button>
  </div>

  <div class="cardContainer">
    <h1 class="top">
      <i class="fa-solid fa-motorcycle fa-bounce" style="color: #313687"></i>
      <strong>액션 영화 순위</strong>
    </h1>
    <div id="live3" class="live"></div>
    <div class="nextbutton">
      <button id="NLB3" class="NLB">
        <i class="fa-solid fa-chevron-left fa-lg"></i>
      </button>
      <button id="NRB3" class="NRB">
        <i class="fa-solid fa-chevron-right fa-lg"></i>
      </button>
    </div>
    <button id="movieadd3" class="searchadd">영화 더 보기</button>
  </div>

  <div class="cardContainer">
    <h1 class="top">
      <i class="fa-solid fa-person-praying"></i
      ><i class="fa-solid fa-heart fa-beat" style="color: #ff4242"></i>
      <strong>로맨스 영화 순위</strong>
    </h1>
    <div id="live4" class="live"></div>
    <div class="nextbutton">
      <button id="NLB4" class="NLB">
        <i class="fa-solid fa-chevron-left fa-lg"></i>
      </button>
      <button id="NRB4" class="NRB">
        <i class="fa-solid fa-chevron-right fa-lg"></i>
      </button>
    </div>
    <button id="movieadd4" class="searchadd">영화 더 보기</button>
  </div>

  <div class="cardContainer">
    <h1 class="top">
      <i class="fa-solid fa-hat-wizard fa-bounce" style="color: #0049c7"></i>
      <strong>판타지 영화 순위</strong>
    </h1>
    <div id="live5" class="live"></div>
    <div class="nextbutton">
      <button id="NLB5" class="NLB">
        <i class="fa-solid fa-chevron-left fa-lg"></i>
      </button>
      <button id="NRB5" class="NRB">
        <i class="fa-solid fa-chevron-right fa-lg"></i>
      </button>
    </div>
    <button id="movieadd5" class="searchadd">영화 더 보기</button>
  </div>

  <div class="cardContainer">
    <h1 class="top">
      <i class="fa-brands fa-github-alt fa-bounce" style="color: #7e00c2"></i>
      <strong>애니메이션 영화 순위</strong>
    </h1>
    <div id="live6" class="live"></div>
    <div class="nextbutton">
      <button id="NLB6" class="NLB">
        <i class="fa-solid fa-chevron-left fa-lg"></i>
      </button>
      <button id="NRB6" class="NRB">
        <i class="fa-solid fa-chevron-right fa-lg"></i>
      </button>
    </div>
    <button id="movieadd6" class="searchadd">영화 더 보기</button>
  </div>
</main>
<script src="main.js" type="module"></script>
<script src="detail.js" type="module"></script>
<script type="module" src="api.js"></script>
<script
  src="https://kit.fontawesome.com/8bc9e38e4e.js"
  crossorigin="anonymous"
></script>


